html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
  background-color: #DEF4FF;
}

.offcanvas {
  max-width: 85%;
}

.number {
  transition: all 0.3s;
}

.number.selected {
   background-color: #1EA11C;
   color: #FFFFFF;
}

@media (min-width: 576px) {
  .offcanvas {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}