@{
    var count=1;
    void GenerateNumbers()
    {
        while(count%15 != 0)
        {
            <div id="number-@count" class="border number p-2" data-value="@count">@count</div>   
            count++;          
        }
        <div id="number-@count" class="border number p-2" data-value="@count">@count</div>     
        count++;    
    }
}

<div id="bingo-board">
    <div class="row row-cols-5 text-center g-2">
        <div class="col">
            <div class="h1">B</div>
            <div>@{GenerateNumbers();}</div>
        </div>
        <div class="col">
            <div class="h1">I</div>
            <div>@{GenerateNumbers();}</div>
        </div>
        <div class="col">
            <div class="h1">N</div>
            <div>@{GenerateNumbers();}</div>
        </div>
        <div class="col">
            <div class="h1">G</div>
            <div>@{GenerateNumbers();}</div>
        </div>
        <div class="col">
            <div class="h1">O</div>
            <div>@{GenerateNumbers();}</div>
        </div>
    </div>
</div>