@page
@model CallerModel

@if(Model.LoggedIn) {
    <style>
        .number {
            cursor: pointer;
        }
    </style>

    <div class="row align-items-center mb-4">
        <div class="col">
            <h1 class="m-0">Caller!</h1>
        </div>     
        <div class="col text-end">
            <button type="button" class="btn btn-primary" id="newGame">New Game</button>
        </div>
    </div>

    <partial name="_Board"/>

    <div class="row align-items-center mb-4">
        <div class="col text-end">
            <br/>
           <button type="button" class="btn btn-danger" id="logOut">Log Out</button>
        </div>
    </div>
    

    @section Scripts {
        <script src="~/js/board.js"></script>
        <script>
            const numbers = document.querySelectorAll(".number");
            numbers.forEach(function(number) {
                number.addEventListener("click", function() {
                    const value = number.getAttribute("data-value");
                    const selected=(number.classList.contains("selected")).toString();

                    console.log(`number clicked: ${value} - selected: ${selected}`);
                    connection.invoke("CallNumber", value,selected).catch(function (err) {
                        return console.error(err.toString());
                    });
                });
            });

            const newGame = document.getElementById("newGame");
            newGame.addEventListener("click",function(){
                connection.invoke("NewGame").catch(function (err) {
                    return console.error(err.toString());
                });
            })

            const logOut = document.getElementById("logOut");
            logOut.addEventListener("click",function(){
                window.location.href="/caller?logout=true";
            });            
        </script>
    }
}
else{
   <form method="post">
        <h1>Caller Log In</h1>

        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username"/> 
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password"/>
        </div>
        
        <input class="btn btn-primary" type="submit" name="submit" value="Log In"/>
   </form>
}