@page
@model HistoryModel

<style>
  .history-item {
    font-size: 30px;
  }

  .history-letter {
    font-weight: bold;
  }

  .history-letter-B {
    color: blue;
  }

  .history-letter-I {
    color: red;
  }

  .history-letter-N {
    color: gold;
  }

  .history-letter-G {
    color: green;
  }

  .history-letter-O {
    color: purple;
  }

  .historyList{
    margin-bottom:0px !important;
    padding-bottom:0px !important;
  }
</style>

<h1>History</h1>

<p>Previously called numbers in this game:</p>

<ul class="list-group mb-4 historyList" id="history-B"></ul>
<ul class="list-group mb-4 historyList" id="history-I"></ul>
<ul class="list-group mb-4 historyList" id="history-N"></ul>
<ul class="list-group mb-4 historyList" id="history-G"></ul>
<ul class="list-group mb-4 historyList" id="history-O"></ul>

<div class="small">Note: This history is <em>only</em> for the current game, not previous games!</div>

    @section Scripts {
        <script src="~/js/history.js"></script>
    }